//Cores
$white : #fff;
$verdeneo: #61ffca;
$pretoneo: #262533;
$cinza: #c9c9c9;

//fonte
$fonte-main: 'Ubuntu', sans-serif;




@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}